DEFAULT_USER_CITY=xxx
MINESWEEPER_URL=http://minesweeper:5000
VOICE_LANGUAGE=es-ES
WAKE_WORD=Claudito
TELEGRAM_BOT_TOKEN=
TELEGRAM_ALLOWED_CHAT_IDS=
DOCKER_USERNAME=
PROD_PLATFORM=linux/amd64
LOCAL_PLATFORM=linux/amd64
BT_SPEAKER_MAC=
CUENTAS_SHEET_NAME=
GOOGLE_SPREADSHEET_ID=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
DEEPSEEK_API_KEY=
DEEPSEEK_MODEL=deepseek-chat
DEEPSEEK_REASONING_EFFORT=
